.card-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0px;
  overflow-x: hidden;
}
.card-heading h1 {
  color: white;
  position: relative;
  z-index: 1;
  font-size: 36px;
  margin-top: 80px;
  font-weight: 400;
}

.cards {
  position: relative;
  z-index: 1;
  margin-right: 50px;
  margin-left: 40px;
}
.card-section {
  background: #fff;
  height: 260px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-top: 30px;
}
.card-section img {
  width: 15%;
  height: 15%;
  margin: 20px auto;
}

.text-para2 {
  display: none;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  font-size: 12px !important;
}

.arrow-icons {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  transition: 0.7s ease-in;
}
.card-section:hover {
  padding: 20px 0px 20px;
  height: 300px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  cursor: grab;
}
.card-section:hover .arrow-icons {
  margin-top: 50px;
  transform: rotate(180deg);
  transition: 0.5s ease-in;
}
.card-section:hover .text-para2 {
  display: block;
}

.card-section h2 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}
.card-section p {
  text-align: center;
  font-size: 14px;
  color: #5c5c5c;
  font-weight: 500;
  margin-bottom: 10px;
}

.slick-slide > div {
  margin: 0 8px;
}

/* tablets screenn */
@media (max-width: 768px) {
  .card-heading h1 {
   font-size: 24px;
   
  }
  .cards {
    top: 0px;
  }
}




/* mobile responsive */
@media (max-width: 480px) {

  .cards {
    top: -50px;
  }
  .card-heading h1 {
    position: relative;
    top: -50px;
    font-size: 24px;
  }
 .card-slider{
  position: relative;
  top: -20px;
 }
}
